.detail{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 8px;
    padding: 4rem;
    margin-left: 8rem;
    margin-right: 8rem;
    align-items: center;
    background-color:rgba(173, 255, 47, 0.5);
}
.text{
font-size: x-large;
}
.img{
    border-radius: 5px;
}