.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 40vh;
    border: solid;
    border-radius: 15px;
    border-color: black;
    background-color: rgb(68, 70, 70);
}

.input{
    margin: 10px;
    height: 30px;
    width: 90%;
}

.text{
    text-decoration: underline;
    font-size: x-large;
}

.btn{
    width: 40%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}